In [192]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [193]:
train = pd.read_csv('E:\\Anaconda\\learnings\\Kaggle_datasets\\Titanic_Challenge\\train.csv')
test = pd.read_csv('E:\\Anaconda\\learnings\\Kaggle_datasets\\Titanic_Challenge\\test.csv')

In [194]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [195]:
#test.head()
X_train = train.iloc[:, [0,1,2,4,5,6,7,9,11]]
X_test = test.iloc[:, [0,1,3,4,5,6,8,10]]

In [196]:
X_train.loc[X_train['Sex'] == 'male', 'Sex'] = 1
X_train.loc[X_train['Sex'] == 'female', 'Sex'] = 2
X_train.loc[X_train['Embarked'] == 'S', 'Embarked'] = 1
X_train.loc[X_train['Embarked'] == 'C', 'Embarked'] = 2
X_train.loc[X_train['Embarked'] == 'Q', 'Embarked'] = 3

X_test.loc[X_test['Sex'] == 'male', 'Sex'] = 1
X_test.loc[X_test['Sex'] == 'female', 'Sex'] = 2
X_test.loc[X_test['Embarked'] == 'S', 'Embarked'] = 1
X_test.loc[X_test['Embarked'] == 'C', 'Embarked'] = 2
X_test.loc[X_test['Embarked'] == 'Q', 'Embarked'] = 3

E:\Anaconda\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [197]:
X_train.dropna(0, inplace=True)
y_train = X_train['Survived']
X_train = X_train.iloc[:, [0,2,3,4,5,6,7,8]]
X_train.head(4)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare Embarked
0            1       3    1  22.0      1      0   7.2500        1
1            2       1    2  38.0      1      0  71.2833        2
2            3       3    2  26.0      0      0   7.9250        1
3            4       1    2  35.0      1      0  53.1000        1

In [198]:
X_test.dropna(0, inplace=True)
X_test.head(4)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   PassengerId  Pclass  Sex   Age  SibSp  Parch    Fare  Embarked
0          892       3    1  34.5      0      0  7.8292         3
1          893       3    2  47.0      1      0  7.0000         1
2          894       2    1  62.0      0      0  9.6875         3
3          895       3    1  27.0      0      0  8.6625         1

In [211]:
## Linear model
lr = LogisticRegression(C = 1000).fit(X_train, y_train)
#lr = LinearRegression().fit(X_train, y_train)

E:\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [212]:
# use it only for LinearRegression() model
#print (f"lr.coeff_ : {lr.coef_}")
#print (f"lr.intercept : {lr.intercept_}")

In [213]:
print (f"Training set score: {lr.score(X_train, y_train)}")

Training set score: 0.8089887640449438

In [186]:
y_pred = lr.predict(X_test)
#print (X_test.shape)
#test.shape
#print (X_train.shape)

In [187]:
y_pred[:5]

array([0, 0, 0, 0, 1], dtype=int64)

In [188]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0], dtype=int64)